# Python
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/
*.egg-info/
dist/
build/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment
.env
.env.local

# Node
node_modules/
.next/
out/
*.log
npm-debug.log*

# Docker
*.sql
*.sqlite

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# ML Models (trop gros pour GitHub)
ml_models/*.pkl
ml_models/*.h5
datasets/CICIDS2017/

# Logs
logs/
*.pcap